@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Montserrat&family=Train+One&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #333;
  justify-content: center;
}
.hero {
  background: rgb(240, 211, 115);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100vh;
  width: 100vw;
}

.header-p {
  font-family: 'Righteous', cursive;
  font-size: 25px;
}

.heroheader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(240, 211, 115);
}

.form-control {
  width: 50% !important;
  align-content: center !important;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 70vw;
  margin: auto;
  transform-origin: left;
  animation: reveal 1s ease-in-out forwards;
}

h1 {
  font-family: 'Train One', cursive;
  font-size: 100px;
  line-height: 0.9;
  margin-bottom: 0px;
}

.aboutheader {
  font-size: 30px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  animation: reveal 1s ease-in-out forwards;
}

p, .about-p {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
}

.contact-form, .navbar {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

@keyframes reveal {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
