.footer {
    margin-top: 30px;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.515);
    color: white;
    text-align: center;
  }

.footer-icons {
    margin-top: 10px;
    color:rgb(240, 211, 115);
}

.footer-icons:hover {
  transform:scale(1.1)
}